body {
    margin: 0;
    /* padding-left: 50px; */
    
}

#header {
    width: 100vw;
    height: 70px;
    background-color:#0d142a;
    transform: translateY(-16px);
    display: flex;
    justify-content: space-between;
}

#contact-div {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 5px;
   
}

#second-div {
    margin-right: 100px;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#contact-us, #faq {
    color: grey;
    font-size: 20px;
    font-weight: bolder;

}

a {
    text-decoration: none;
  }


#contact-us:hover, #faq:hover {
    cursor: pointer;
}

#number , #email {
    color: grey;
    font-size: 20px;
    font-weight: bolder;

}

#phone-icon, #email-icon {
    width: 30px;
    height: 30px;
    color: gray;
    transform: translate(-5px,4px);
}

#number:hover, #email:hover {
    cursor: pointer;
}


#section1 {
    width: 100vw;
    height: auto;
    padding: 10px;
    /* display: flex;
    justify-content: space-evenly; */
    /* border: 1px solid blue; */
    margin-top: 0;
    transform: translateY(-18px);
    
}

#brand-name {
    font-family:  Verdana,
     Geneva, Tahoma, sans-serif;
     margin-top: 2px;
     margin-left: 20px;
     padding-left: 20px;
}


#brand-name:hover {
    cursor: pointer;
}

 #menu-div {
   transform: translate(300px,-50px);
    width: 500px;
    display: flex;
    justify-content: space-evenly;

   
    
}

#menu-div p {
    font-weight: bold;
    color: #3744b9;
}






/* #about-us, #services, #portfolio, #testimonies {
    color: gray;
    margin-left: 20px;
} */


#about-us:hover, #services:hover,
 #portfolio:hover, #testimonies:hover {
   cursor: pointer;
}


#section2 {
    width: 100vw;
    height: 700px;
    /* border: 1px solid black; */
    transform: translateY(-18px);
}


#main-topic {
    display: inline-block;
    width: 39%;
    height: 100%;
   /* border: 1px solid rgb(255, 18, 18); */
   vertical-align: top;
}

#svg-container {
    display: inline-block;
    width: 60%;
    height: 100%;
    /* border: 1px solid black; */
    vertical-align: top;
}

#tag-div {
    width: 800px;
    height: auto;
margin-left: 40px;


}

#tagline {
    font-size:50px;
    font-family: serif;
}

#aim {
    font-family: serif;
    width: 50%;
}

#contact-btn, #portfolio-btn {
   
    width: 180px;
    border-radius: 10px;
    border: none;
    outline: none;
    /* height: 50px; */
}

#contact-btn {
    background:#3744b9;
    color: white;
    padding: 20px;
}

#contact-btn:hover {
    background:#4b58ca;
cursor: pointer;
}



#portfolio-btn {
    margin-left: 10px;
color: #3744b9;
    border: 1px solid #3744b9;
    padding: 18px;
}

#portfolio-btn:hover {
    cursor: pointer;
}

#arrow {
    transform: translateY(3px);
    margin-left: 3px;
    width: 15px;
}


#section3 {
    width: 100vw;
    height: auto;
    background-color:#f3f6ff ;
    transform: translateY(-35px);
    /* padding: 20px; */
}

#aim2 {
    padding-top: 20px;
    font-family: serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
}


#stats {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#stats h1 {
    font-size: 80px;
    font-weight: lighter;
    color: #3744b9;
    
}

#stats p {
    transform: translateY(-60px);
    color: #888399;
}

#stat1,#stat2,#stat3,#stat4 {
    transform: translateY(-40px);
    width: 100px;
    height: auto;
    /* border: 1px solid black; */
}


#section4 {
    width: 100vw;
    height: auto;
    transform: translateY(-40px);

}

#our-service {
    width: 40%;
    height: 100%;
display: inline-block;
/* border: 1px solid black; */
vertical-align: top;
}


#services4 {
    width: 58%;
    height: 100%;
    display: inline-block;
    /* border: 1px solid red; */
    vertical-align: top;
   
}

#services4 p {
    color: blue;
}



#our-service h2 {
    font-size: 50px;
    margin-left: 40px;
    font-family: serif;
    font-weight: lighter;
}


#our-service p {
   
    margin-left: 40px;
    font-family: serif;
    font-weight: lighter;
    font-size: 20px;
}


#laptop {
/* border: 1px solid blue; */
    width: 80%;
    height: 400px;
    transform: translateY(80px);
}


ul {
    list-style: none;
    margin-top: 147px;
}


#drop1,#drop2,#drop3,#drop4,#drop5,#drop6,#drop7,#drop8 {
    width: auto;
    height: auto;
    
   
   
}





#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8 {
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
}

#s1:hover,#s2:hover,#s3:hover,#s4:hover,#s5:hover,
#s6:hover,#s7:hover,#s8:hover {
    cursor: pointer;
    color: blue;
}



#note {
    font-family: serif;
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    font-size: 20px;
    animation: note 1s infinite;
}



@keyframes note {
    0% {

    }

    100% {
        color: #3744b9;
    }
}







#section5 {
    width: 100vw;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    /* background-color:#6e7794 ; */
}

#s5-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100%;
  /* padding-right: 40px;
  padding-left: 40px; */
   padding: 60px;
}

#s5-container div {
    /* border-radius: 10px; */
    width: 400px;
    height: 250px;
    /* background-color: #3744b9; */
   /* border: 1px solid black; */

}

#s5-container div button {
    position: absolute;
   padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    transform: translateY(150px);
   
    border: 1px solid #4b58ca;
    
}

#s5-container div button p {
    color: #4b58ca;
    font-weight: bold;
}


#p-1:hover,#p-2:hover,#p-3:hover,#p-4:hover,#p-5:hover,
#p-6:hover {
transform: translateY(-10px);

}

#p-1,#p-2,#p-3,#p-4,#p-5,#p-6 {
border-radius: 10px;

}


#section6 {
    width: 100vw;
    height: auto;
    text-align: center;
    background-color:#f3f6ff ;
}

#section6 p {
    font-size: 20px;

}



#showcase-container {
   
    width: 95%;
    height: 100%;
    display: grid;
    /* justify-content: ; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
   
   padding: 40px;
}

#showcase-container div {
    border-radius: 10px;
    width: 400px;
    height: 200px;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px gray;

}


#showcase-container div:hover {
    transform: translateY(-10px);
}

#showcase-container div h2 {
    color: white;
    background-color: #3744b9;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

#showcase-container div p {
    color: #3744b9;
   font-size: 20px;
}

#more {
    width: 90%;
    margin-left: auto;
   margin-right: auto;
    color: #3744b9;
    font-size: 20px;
    border: 1px solid gray;
   border: 1px solid #3744b9;
    border-right: none;
    border-left: none;
    background-color:#f3f6ff ;
}


#section7 {

width: 100vw;
height: auto;


}

#say {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 40px;
    font-family: serif;
    transform: translateY(50px);
}

#say-container {
padding: 20px;
    display: flex;
    justify-content: space-evenly;
}


#say1 {
    padding: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid #858bbc;
    margin-left: 40px;
    border-radius: 30px;
    text-align: center;
    transform: translateY(60px);
}

#say1 p {
    font-size: 20px;
    font-weight: lighter;
    color: gray;
}

#say2 {
    padding: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid #858bbc;
    margin-left: 40px;
    border-radius: 30px;
    text-align: center;
    transform: translateY(-5px);
    color: gray;
}

#say2 p {
    font-size: 20px;
}


#section8 {

width: 100vw;
height: auto;
margin-top: 50px;

}


#most {
    margin-left:45%;


}




#faq1,#faq2,#faq3,#faq4,#faq5,#faq6,#faq7,#faq8,#faq9,#faq10 {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#question1,#question2,#question3,#question4,#question5,#question6,#question7,#question8,#question9,#question10 {
    font-weight: bold;
    cursor: pointer;
}

#answer1,#answer2,#answer3,#answer4,#answer5,#answer6,#answer7,#answer8,#answer9,#answer10 {
   
    color: blue;
}


#section9 {
padding: 0;
width: 100vw;
height: 600px;
/* display: grid;
grid-template-columns: auto auto; */
}



#contact-head {
    margin-left: 20px;
font-size: 50px;
font-family: serif;
/* margin-left: 40px; */

}

#c1 {
 width: 50%;
height: 100%;
/* border: 1px solid black; */
display: inline-block;
vertical-align: top;

}

#topic {
    margin-left: 20px;
font-size: 20px;
transform: translateY(-50px);
width: 400px;
font-weight: 100;
}




#form {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 20px;
}



#c2 {
    width: 49%;
    vertical-align: top;
    height: 100%; 
    /* border: 1px solid blue;   */
    display: inline-block;
    background-color: #f5f5f7;
}

#form input {
    border: 1px solid gray;
border-radius: 5px;
    width: 600px;
    padding: 10px;
    outline: none;
   
}


#inp3 {
    height: 100px;
    width: 600px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
    font-size: 15px;
    font-family: serif;
    padding: 10px;
}

#contact-sub {
width: 620px;
padding: 10px;
border-radius: 5px;
background-color: #3744b9;
color: white;
outline: none;
border: none;
margin-top: 20px;
}


#contact-sub:hover {

cursor: pointer;

}


#contact-p {
    font-family: 'Roboto Thin', Arial, sans-serif;
margin-top: 50px;
margin-left: 50px;
font-size: 20px;
/* font-weight: 100; */
}


#c-pics {
    float: right;
}



#section10 {
width: 100vw;
height: 500px;
display: grid;
grid-template-columns: auto auto auto;
 background-color:#f3f6ff ;
 border-top: 1px solid rgb(234, 229, 229);
 border-bottom: 1px solid rgb(234, 229, 229);
}

#f1,#f2,#f3 {
    width: 400px;
    /* border: 1px solid black; */
}

#f1 p {
margin-left: 30px;
}

#f1 ul {
list-style: none;
   transform: translate(-15px, -110px);
}

#f1 li {
margin-top: 20px;
color: #3744b9;
}

#f2 p {
    margin-left: 30px;
    }
    
    #f2 ul {
    list-style: none;
       transform: translate(-15px, -110px);
    }
    
    #f2 li {
    margin-top: 20px;
    color: #3744b9;
    }


    #f3 p {
        margin-left: 30px;
        }
        
        #f3 ul {
        list-style: none;
           transform: translate(-15px, -110px);
        }
        
        #f3 li {
        margin-top: 20px;
        color: #3744b9;
        }


        footer {
            width: 100%;
            height: 100px;
           transform: translateY(-16px);
           background-color:#f3f6ff ;
          
        }

        footer p {
            margin-left: 20px;
            transform: translateY(30px);
            
        }


#toggle {
   
    
   
    width: 40px;
    height: 40px;
    display: none;
}


#house {
    width: 100%;
    height: auto;
    /* border: 1px solid yellow; */
    position: absolute;
   transform: translateY(-80px);
   z-index: 1;
}


#dropdown {
    width: 15%;
    height: auto;
z-index: 1;
    border: 1px solid blue;
position: absolute;
background-color: #4f5bb8;

border-bottom-right-radius: 10px;
border: none;
/* display: none; */
}

#dropdown ul {

    margin-top: 10px;
 }

 #dropdown li {
color: #f1f2f8;
     margin-top: 40px;
     font-weight: bold;
  }


  .show {
    display: block;
}

.hide {
    display: none;
}


/* ..............media querries......................... */



        @media (min-width:250px) and (max-width : 900px) {
           
         
          



            a {
                text-decoration: none;
              }
           

        body {
            margin: 0;
            
            /* padding-left: 50px; */
        }
        
        #header {
            width: 100vw;
            height: 70px;
            background-color:#0d142a;
            transform: translateY(-16px);
            display: flex;
            justify-content: space-between;
        }


        
        
        #contact-div {
            width: 600px;
            display: flex;
            justify-content: space-evenly;
            height: auto;
            padding: 5px;
           
        }
        
        #second-div {
            margin-right: 100px;
            width: 200px;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 15px;
        }
        
        #contact-us, #faq {
            color: white;
            font-size: 20px;
            font-weight: bolder;
        
        }


        #contact-us {
            display: none;
           
        }

        #faq {
            transform: translateX(15px);
            color: white;
        }
        
        #contact-us:hover, #faq:hover {
            cursor: pointer;
        }
        
        #number , #email {
            color: grey;
            font-size: 14px;
            font-weight: bolder;
        
        }

        #number {
width: 150px;
        }

        #email {
            transform: translateX(-10px);
        }


        
        #phone-icon, #email-icon {
            width: 30px;
            height: 30px;
            color: gray;
            transform: translate(-5px,4px);
            display: none;
        }
        
        #number:hover, #email:hover {
            cursor: pointer;
        }
        
        
        #section1 {
            width: 100vw;
            height: auto;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            /* border: 1px solid blue; */
            margin-top: 0;
            transform: translateY(-18px);
            
        }
        
        #brand-name {
            font-family:  Verdana,
             Geneva, Tahoma, sans-serif;
             margin-top: 2px;
             margin-left: 20px;
             padding-left: 20px;
        }
        
        
        #brand-name:hover {
            cursor: pointer;
        }
        
        #menu-div {
            
            display: none;
        }



        #toggle {
          
            width: 40px;
            height: 40px;
            display: block;
        }
        

        #toggle :hover {
            cursor: pointer;
            
                    }
        
        #house {
            width: 100%;
            height: auto;
            /* border: 1px solid yellow; */
            position: absolute;
           transform: translateY(-80px);
           z-index: 1;
        }
        
        
        #dropdown {
            width: 100%;
            height: auto;
        z-index: 1;
            border: 1px solid blue;
        position: absolute;
        background-color: #4f5bb8;
        border-bottom-right-radius: 10px;
        animation: drop 2s ease-in-out  ;
        border: none;
        /* display: none; */
        overflow: hidden;
  box-shadow: 4px 4px #0d142a;
        }



@keyframes drop {
    0% {transform: translateY(-60px);

        opacity: 20%;
/* height: 10px; */
    }

    /* 20% {
        height:50px ;
    }

    50% {
        height: 100px;
    }

    60% {
        height: 200px;
    }

    70% {
        height: 290px;
    }
 */


    100% {
       opacity: 100%;
    }
}




        
        #dropdown ul {
        
            margin-top: 10px;
         }
        
         #dropdown li {
        color: #f1f2f8;
             margin-top: 30px;
             font-weight: bold;
             padding: 2px;
             /* background-color: #f1f2f8; */
             border-bottom: 4px solid white;
             animation: slide 2s ease-in-out;
             /* border-radius: 20px; */
          }




          @keyframes slide {
            0% {
transform: translateX(200px);
            }


          }
        
        
          .show {
            display: block;
        }
        
        .hide {
            display: none;
        }






        
        
        #menu-div p {
            font-size: 20px;
            color: white;
        }
        
        
        
       


       
        
        
        
        #bout-us, #services, #portfolio, #testimonies {
            color: #4b58ca;
            
            
        }
        
        
        #about-us:hover, #services:hover,
         #portfolio:hover, #testimonies:hover {
           cursor: pointer;
        }
        
        
        #section2 {
            width: 100vw;
            height: auto;
display: flex;
flex-direction: column;
            /* border: 1px solid black; */
            transform: translateY(-18px);
        }
        
        
        #main-topic {
            /* display: block; */
            width: 100%;
            height: 100%;
           /* border: 1px solid rgb(255, 18, 18); */
           /* vertical-align: top; */
        }
        
        #svg-container {
            /* display: block; */
            width: 100%;
            height: auto;
            margin-top: 50px;
            margin-bottom: 40px;
            /* border: 1px solid black; */
            /* vertical-align: top; */
            
        }
        
        #tag-div {
            width: 80%;
            height: 500px;
        margin-left: 40px;
        /* border: 1px solid tan; */
        /* overflow: hidden;
        word-wrap: break-word;
        position: relative; */
        
        }
        
        #tagline {
            font-size:30px;
            font-family: serif;
           
        }
        
        #aim {
            font-family: serif;
           
        }
        
        #contact-btn, #portfolio-btn {
           
            
            border-radius: 10px;
            border: none;
            outline: none;
            /* transform: translateX(-25px); */
            display: inline-block;
            /* height: 50px; */
        }
        
        #contact-btn {
            width: 110px;
            background:#3744b9;
            color: white;
            padding: 20px;
        }
        
        #contact-btn:hover {
            background:#4b58ca;
        cursor: pointer;
        }
        
        
        
        #portfolio-btn {
            
        color: #3744b9;
            border: 1px solid #3744b9;
            padding: 10px;
            width: 110px;
            transform: translate(-8px,-9px);
        }
        
        #portfolio-btn:hover {
            cursor: pointer;
        }
        
        #arrow {
            transform: translateY(3px);
            margin-left: 3px;
            width: 15px;
        }
        
        
        #section3 {
            width: 100vw;
            height: auto;
            background-color:#f3f6ff ;
            transform: translateY(-35px);
            text-align: center;
            /* padding: 20px; */
            /* overflow: hidden; */
            /* word-wrap: break-word;
            position: relative;
            margin-bottom: 50px; */
        }
        
        #aim2 {
            padding-top: 20px;
            font-family: serif;
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
        
        
        #stats {
        width: 100%;
        height: auto;
            text-align: center;
            /* display: flex;
            justify-content: space-evenly; */
            display: grid;
        }
        
        #stats h1 {
            font-size: 80px;
            font-weight: lighter;
            color: #3744b9;
            
        }
        
        #stats p {
            /* transform: translateY(-60px); */
            color: #888399;
        }
        
        #stat1,#stat2,#stat3,#stat4 {
         width: 100%;
         height: auto;
        }
        
        
        #section4 {
            width: 100vw;
            height: auto;
            /* transform: translateY(-40px); */
        display: grid;
        /* text-align: center; */
        }
        
        #our-service {
            width: 100%;
            height: auto;
            text-align: center;
       /* margin-bottom: 50px; */
        border: 1px solid black;
        /* vertical-align: top; */
        /* overflow: hidden;
        word-wrap: break-word;
        position: relative; */
        }

        
        
        
        #services4 {
            width: 100%;
            height: auto;
            /* display: inline-block; */
            /* border: 1px solid red; */
            /* vertical-align: top; */
           /* text-align: center; */
        }
        
        #services4 p {
            color: blue;
        }
        
        
        
        #our-service h2 {
            font-size: 40px;
            font-family: serif;
            font-weight: lighter;
            margin-left: auto;
            margin-right: auto;
        }
        
        
        #our-service p {
           
            width: 70%;
            font-family: serif;
            font-weight: lighter;
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
        }
        
        
        #laptop {
        /* border: 1px solid blue; */
            width: 80%;
            height: auto;
           margin-left: auto;
           margin-right: auto;
           /* margin-bottom: 40px; */
        }
        
        
        ul {
            list-style: none;
            margin-top: 147px;
        }
        
        
        #drop1,#drop2,#drop3,#drop4,#drop5,#drop6,#drop7,#drop8 {
            width: 70%;
            height: auto;
            transform: translateX(-30px);
           
           
        }
        
        
        
        
        
        #s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8 {
            margin-top: 30px;
            font-size: 20px;
            cursor: pointer;
            transform: translateX(-40px);
        }
        
        #s1:hover,#s2:hover,#s3:hover,#s4:hover,#s5:hover,
        #s6:hover,#s7:hover,#s8:hover {
            cursor: pointer;
            color: blue;
            
        }
        
        
        
        #note {
            font-family: serif;
            margin-left: auto;
            margin-right: auto;
            /* border: 1px solid blue; */
            width: 80%;
            height: auto;
            font-size: 15px;
            animation: note 1s infinite;
            font-weight: bold;
        }
        
        
        
        @keyframes note {
            0% {
        
            }
        
            100% {
                color: #3744b9;
            }
        }
        
        
       
        
        
        
        
        #section5 {
            width: 100vw;
            height: auto;
            /* display: flex;
            justify-content: center; */
            /* border: 1px solid black; */
            /* display: grid; */
            /* background-color:#6e7794 ; */
            
        }
        
        #s5-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            /* grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto; */
            width: 100%;
            height: auto;
          /* padding-right: 40px;
          padding-left: 40px; */
          padding-bottom: 0;
          /* border: 1px solid black; */
          position: relative;
          overflow: hidden;
        }
        
        #s5-container div {
            width: 100%;
            height: auto;
            overflow: hidden;
           margin-left: auto;
           margin-right: auto;
         position: relative;
            
           margin-top: 20px;
            word-wrap: break-word;
            /* background-color: #3744b9; */
           /* border: 1px solid black; */
          
           border-radius: 30px;
        }
        
        #s5-container div button {
            margin-left: auto;
            margin-right: auto;
           width: 100%;
           overflow: hidden;
           word-wrap: break-word;
           height: auto;
            /* border-top-right-radius: 10px; */
            /* border-bottom-right-radius: 10px;
            border-top-left-radius: 10px; */
            border: none;
           /* margin-top: 20px; */
            /* border: 1px solid #4b58ca; */
          
           transform: translateY(-2px);
            position: relative;
        }
        
        #s5-container div button p {
           position: relative;
            font-size: 10px;
            color: #2233ca;
            font-weight: bold;
            /* background-color: #f3f6ff; */
            text-shadow: 2px 2px 2px gray;
        }
        
        
        /* #p-1:hover,#p-2:hover,#p-3:hover,#p-4:hover,#p-5:hover,
        #p-6:hover {
        transform: translateY(-10px);
        
        }
         */
        

        
            
             


        
        #section6 {
            width: 100vw;
            height: auto;
            text-align: center;
            background-color:#f3f6ff ;
            transform: translateY(90px);
            position: relative;
            overflow: hidden;
            word-wrap: break-word;
            
        }

        #sect6-container {
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            /* padding-left: 5px;
            padding-right: 5px; */
            /* border: 1px solid black; */
            position: relative;
        }
        
        #section6 p {
            
            font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        }
        
        #section6 h1 {
            font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        }
        
        
        
        #showcase-container {
           
            width: 100vw;
            height:auto;
            display: flex;
flex-direction: column;
justify-content: space-evenly;
            /* justify-content: ; */
            /* grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto; */
           /* border: 1px solid black; */
           /* padding: 40px; */
           position: relative;
        }
        
        #showcase-container div {
            border-radius: 10px;
            width: 90%;
            height: auto;
            border: 1px solid gray;
            box-shadow: 4px 4px 4px gray;
            margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        word-wrap: break-word;
       
        }
        
        
        #showcase-container div:hover {
            transform: translateY(-10px);
        }
        
        #showcase-container div h2 {
            color: white;
            background-color: #3744b9;
            margin-top: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;
        }
        
        #showcase-container div p {
            color: #3744b9;
           font-size: 15px;
           
        }
        
        #more {
            margin-top: 100px;
            width: 90%;
            margin-left: auto;
           margin-right: auto;
            color: #3744b9;
            font-size: 20px;
            border-right: none;
            border-left: none;
            background-color:#f3f6ff ;
            position: relative;
        }
        
        
        #section7 {
        
        width: 100vw;
        height: auto;
        /* text-align: center; */
        margin-top: 20px;
        }
        
        #say {
            font-size: 30px;
            font-weight: bolder;
            font-family: serif;
            margin-left: auto;
            margin-right: auto;
           width: 70%;
        }
        
        #say-container {
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            /* border: 1px solid blue; */
            margin-left: auto;
            margin-right: auto;
        }
        
        
        #say1 {
            padding: 20px;
            width: 80%;
            height: auto;
            border: 1px solid #858bbc;
            margin-left: auto;
            margin-right: auto;
            border-radius: 30px;
            text-align: center;
           overflow: hidden;
           word-wrap: break-word;
           position: relative;
        }
        
        #say1 p {
            font-size: 20px;
            font-weight: lighter;
            color: gray;
            position: relative;
        }
        
        #say2 {
            padding: 20px;
            width: 80%;
            height:auto ;
            border: 1px solid #858bbc;
            margin-left: auto;
            margin-right: auto;
            border-radius: 30px;
            text-align: center;
            margin-top: 90px;
            overflow: hidden;
            word-wrap: break-word;
            position: relative;
        }
        
        #say2 p {
            font-size: 20px;
            position: relative;
        }

        #say1 , #say2 {
            margin-left: auto;
            margin-right: auto;
            position: relative;
        }
        
        
        #section8 {
        
        width: 100vw;
        height: auto;
       margin-top: 80px;
        
        }
        
        
        #most {
            width: 50%;
        margin-left: auto;
        margin-right: auto;
        
        }
        
        
        
        
        #faq1,#faq2,#faq3,#faq4,#faq5,#faq6,#faq7,#faq8,#faq9,#faq10 {
            margin: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        
        #question1,#question2,#question3,#question4,#question5,#question6,#question7,#question8,#question9,#question10 {
            font-weight: bold;
            cursor: pointer;
        }
        
        #answer1,#answer2,#answer3,#answer4,#answer5,#answer6,#answer7,#answer8,#answer9,#answer10 {
           
            color: blue;
        }
        
        
        #section9 {
       
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        }
        
        
        
        #contact-head {
          width: 70%;
        font-size: 40px;
        font-family: serif;
        /* margin-left: 40px; */
        margin-left: auto;
        margin-right: auto;
        }
        
        #c1 {
         width: 100vw;
        height: auto;
        /* border: 1px solid black; */
        display: inline-block;
        
        padding-bottom: 10px;
        }
        
        #topic {
            transform: translateY(5px);
        font-size: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
        }
        
        
        
        
        #form {
            /* border: 1px solid black; */
            width: 70%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            
            
        }
        
        /* #f-div {
            width: 100%;
            border: 1px solid green;
        } */
        
        #c2 {
            width: 100vw;
            
            height: auto; 
            /* border: 1px solid blue;   */
            /* display: inline-block; */
            background-color: #f5f5f7;
        }
        
       #form input {
        width: 95%;
       }
        
        
        #inp3 {
            height: 100px;
            width: 95%;
            border-radius: 5px;
            border: 1px solid gray;
            outline: none;
            font-size: 15px;
            font-family: serif;
            padding: 10px;
        }
        
        #contact-sub {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: #3744b9;
        color: white;
        outline: none;
        border: none;
        margin-top: 20px;
        margin-left: auto;
            margin-right: auto;
            margin-left: auto;
            margin-right: auto;
        }
        
        
        #contact-sub:hover {
        
        cursor: pointer;
        
        }
        
        
        #contact-p {
            font-family: 'Roboto Thin', Arial, sans-serif;
        margin-top: 50px;
        margin-left: 50px;
        font-size: 20px;
        /* font-weight: 100; */
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        }
        
        
        #c-pics {
            float: right;
        }
        
        
        
        #section10 {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        /* display: grid;
        grid-template-columns: auto auto ; */
         background-color:#f3f6ff ;
         border-top: 1px solid rgb(234, 229, 229);
         border-bottom: 1px solid rgb(234, 229, 229);
        }
        
        #f1,#f2,#f3 {
            width: 50%;

            /* border: 1px solid black; */
            margin-left: auto;
            margin-right: auto;
        }
        
        #f1 p {
        margin-left: 30px;
        }
        
        #f1 ul {
        list-style: none;
           transform: translate(-15px, -110px);
        }
        
        #f1 li {
        margin-top: 20px;
        color: #3744b9;
        width: 100%;
        }
        
        #f2 p {
            margin-left: 30px;
            }
            
            #f2 ul {
            list-style: none;
               transform: translate(-15px, -110px);
            }
            
            #f2 li {
            margin-top: 20px;
            color: #3744b9;
            }
        
        
            #f3 p {
                margin-left: 30px;
                }
                
                #f3 ul {
                list-style: none;
                   transform: translate(-15px, -110px);
                }
                
                #f3 li {
                margin-top: 20px;
                color: #3744b9;
                }
        
        
                footer {
                    width: 100%;
                    height: 100px;
                   transform: translateY(-16px);
                   background-color:#f3f6ff ;
                  
                }
        
                footer p {
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(30px);
                    
                }


                 }
